[submodule "contract/lib/forge-std"]
	path = contract/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "contract/lib/foundry-huff"]
	path = contract/lib/foundry-huff
	url = https://github.com/huff-language/foundry-huff
[submodule "contract/lib/v3-core"]
	path = contract/lib/v3-core
	url = https://github.com/Uniswap/v3-core
[submodule "contract/lib/v2-core"]
	path = contract/lib/v2-core
	url = https://github.com/Uniswap/v2-core
[submodule "contract/lib/v2-periphery"]
	path = contract/lib/v2-periphery
	url = https://github.com/Uniswap/v2-periphery
[submodule "contract/lib/solmate"]
	path = contract/lib/solmate
	url = https://github.com/transmissions11/solmate
[submodule "contract/lib/v3-periphery"]
	path = contract/lib/v3-periphery
	url = https://github.com/Uniswap/v3-periphery
